.balance-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance-container label {
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.balance-container p {
    font-size: 1rem;
    font-weight: bold;
}

.balance-container p.negative-amount {
    color: var(--danger-color);
}
