.balance-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance-container h1 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.balance-container p {
    font-size: 2rem;
    font-weight: bold;
}

.statements-container {
    padding: 0 20px;
}