.user-container {
	display: flex;
	padding: 8px 10px;
	border-radius: 30px;
	align-items: center;
	background-color: var(--secondary-background-color);
	margin: 20px 0 40px;
}

.user-container img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 16px;
	object-fit: contain;
}

.user-container .info{
	flex-grow: 1;
}

.user-container .info h3 {
	font-size: 0.6rem;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}