.add-transaction-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 40px;
    text-align: center;
}

.add-transaction-container h2 {
    margin-bottom: 16px;
}

.amount-input,
.valuta-select {
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    padding: 20px 10px;
    /* width: 100%; */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
