:root {
  /* COLORS */
  --dark-color: #25282e;
  --medium-dark-color: #30333b;
  --medium-lighter-dark-color: #32363d;
  --lighter-dark-color: #696f7c;
  --light-color: white;
  --medium-light-color: rgb(248, 216, 193);
  --green-color: #75c365;
  --red-color: #ff6c71;
  --light-red-color: #ff8387;
  --blue-color: #6FAAB3;
  --light-blue-color: #77bac4;
  /* --light-blue-color: #e2955a; */

  --main-background-color: var(--dark-color);
  --secondary-background-color: var(--medium-dark-color);
  --secondary-light-background-color: var(--medium-lighter-dark-color);
  --main-text-color: var(--light-color);
  --secondary-text-color: var(--medium-light-color);
  --tertiary-text-color: var(--lighter-dark-color);
  --primary-color: var(--blue-color);
  --primary-light-color: var(--light-blue-color);
  --success-color: var(--green-color);
  --danger-color: var(--red-color);
  --danger-light-color: var(--light-red-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

button,
input,
select {
  all: unset;
}

.animated-button:active {
  transform: scale(1.1);
}

.animated-button-big:active {
  transform: scale(1.05);
}

.error-message {
  color: var(--danger-color);
  font-style: italic;
}