:root {
  /* COLORS */
  --dark-color: #25282e;
  --medium-dark-color: #30333b;
  --light-color: white;
  --medium-light-color: rgb(248, 216, 193);
  --green-color: #8dc482;
  --red-color: #ff6c71;

  --main-background-color: var(--dark-color);
  --secondary-background-color: var(--medium-dark-color);
  --main-text-color: var(--light-color);
  --secondary-text-color: var(--medium-light-color);
  --success-color: var(--green-color);
  --danger-color: var(--red-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

button,
input,
select {
  all: unset;
}

.animated-button:active {
  transform: scale(1.1);
}

.animated-button-big:active {
  transform: scale(1.05);
}