{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "prettier/prettier": [
            "warn",
            {
                "parser": "flow",
                "semi": true,
                "trailingComma": "none",
                "singleQuote": true,
                "printWidth": 100,
                "useTabs": true,
                "tabWidth": 4
            }
        ]
    }
}